# https://docs.npmjs.com/cli/v8/using-npm/config

#set this to true for npm v6 compatability
legacy-peer-deps = true
package-lock = false

# disable spam
fund = false
#audit = false
audit-level = "critical"
progress = true
loglevel = "error"

# these are the defaults, but if globally misconfigured can cause errors
offline = false
prefer-offline = false

#use this to ensure people dont postinstall pwn you. sadly, setting this to true also disables your own scripts and is very inconvenient.
#ignore-scripts = true

# setup global installation directory.
# https://docs.npmjs.com/cli/v8/using-npm/config#global
# https://docs.npmjs.com/cli/v8/using-npm/config#legacy-bundling
